.sidebar {
  padding: 4rem 0;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.sidebar > a:first-child {
  padding-left: 15px;
  padding-right: 15px;
}
.sidebar > a > img {
  width: 100%;
}
/* .sidebar>a>img:hover{
    transform: translateY(-1vmax);
} */
.sidebar a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.49);
  font: 200 1rem "Roboto";
  padding: 2rem;
  transition: all 0.5s;
}
.sidebar a:hover {
  color: tomato;
  transform: scale(1.1);
}
.sidebar a > p {
  display: flex;
  align-items: center;
}
.sidebar a > p > svg {
  margin-right: 0.5rem;
}
.MuiTypography-root {
  background-color: white !important;
}
